In [16]:
import pandas as pd
import numpy as np

In [2]:
path = r'C:\Users\seboc\OneDrive\Escritorio\PROJECTS\DATASCIENCE\CursoPythonDataScience\Online_Retail.csv'
retail_data = pd.read_csv(path,encoding='windows-1252')
print(type(retail_data))
print(retail_data.head())

<class 'pandas.core.frame.DataFrame'>
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [3]:
missing_data = retail_data.isna()
print(missing_data)

        InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0           False      False        False     False        False      False
1           False      False        False     False        False      False
2           False      False        False     False        False      False
3           False      False        False     False        False      False
4           False      False        False     False        False      False
...           ...        ...          ...       ...          ...        ...
541904      False      False        False     False        False      False
541905      False      False        False     False        False      False
541906      False      False        False     False        False      False
541907      False      False        False     False        False      False
541908      False      False        False     False        False      False

        CustomerID  Country
0            False    False
1            False    False
2            False    False
3            False    False
4            False    False
...            ...      ...
541904       False    False
541905       False    False
541906       False    False
541907       False    False
541908       False    False

[541909 rows x 8 columns]

In [4]:
print(missing_data.head())

   InvoiceNo  StockCode  Description  Quantity  InvoiceDate  UnitPrice  \
0      False      False        False     False        False      False
1      False      False        False     False        False      False
2      False      False        False     False        False      False
3      False      False        False     False        False      False
4      False      False        False     False        False      False

   CustomerID  Country
0       False    False
1       False    False
2       False    False
3       False    False
4       False    False

In [7]:
missing_data_count = retail_data.isna().sum()
print("Conteo de datos faltantes por columna: \n",missing_data_count)

Conteo de datos faltantes por columna:
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

## Eliminando las filas que contienen un valor nulo

In [9]:
no_missing_row = retail_data.dropna()
print("Datos sin valores faltantes: \n",no_missing_row)

Datos sin valores faltantes:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[406829 rows x 8 columns]

### 1. **Identificación de Datos Faltantes**

Para identificar valores faltantes en un DataFrame o Serie de Pandas, puedes utilizar los siguientes métodos:

#### **isnull() y notnull()**

- **isnull()**: Devuelve True para cada celda que contenga un valor nulo (NaN).

- **notnull()**: Devuelve True para cada celda que **no** sea nula.

In [28]:
# Crear un DataFrame con valores faltantes

data = {'Nombre': ['Ana', 'Luis', np.nan, np.nan],
       'Edad': [23, np.nan, 36, np.nan],
      'Ciudad': ['Madrid', 'Barcelona', 'Valencia','Pitalito']}



df = pd.DataFrame(data)



# Identificar valores faltantes

print(df.isnull())



# Identificar valores que no son faltantes

print(df.notnull())

   Nombre   Edad  Ciudad
0   False  False   False
1   False   True   False
2    True  False   False
3    True   True   False
   Nombre   Edad  Ciudad
0    True   True    True
1    True  False    True
2   False   True    True
3   False  False    True

### 2. **Eliminación de Datos Faltantes**

Si decides eliminar las filas o columnas con datos faltantes, Pandas ofrece varias formas de hacerlo.

#### **dropna()**

Este método elimina filas o columnas que contienen valores nulos.

In [29]:
# Eliminar todas las filas que tienen al menos un valor faltante
df_sin_na_filas = df.dropna()

# Eliminar columnas que tienen al menos un valor faltante
df_sin_na_columnas = df.dropna(axis=1)

# Eliminar solo las filas en las que todos los valores son nulos
df_sin_na_filas_todos = df.dropna(how='all')

# Eliminar filas solo si tienen más de un valor nulo
df_sin_na_thresh = df.dropna(thresh=2)


print("Eliminar todas las filas que tienen al menos un valor faltante")
print(df_sin_na_filas)
print("--------------------")
print("Eliminar columnas que tienen al menos un valor faltante")
print(df_sin_na_columnas)
print("--------------------")
print("Eliminar solo las filas en las que todos los valores son nulos")
print(df_sin_na_filas_todos)
print("--------------------")
print("Eliminar filas solo si tienen más de un valor nulo")
print(df_sin_na_thresh)

Eliminar todas las filas que tienen al menos un valor faltante
  Nombre  Edad  Ciudad
0    Ana  23.0  Madrid
--------------------
Eliminar columnas que tienen al menos un valor faltante
      Ciudad
0     Madrid
1  Barcelona
2   Valencia
3   Pitalito
--------------------
Eliminar solo las filas en las que todos los valores son nulos
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis   NaN  Barcelona
2    NaN  36.0   Valencia
3    NaN   NaN   Pitalito
--------------------
Eliminar filas solo si tienen más de un valor nulo
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis   NaN  Barcelona
2    NaN  36.0   Valencia

### 3. **Rellenar Datos Faltantes**

En lugar de eliminar los datos, a veces es mejor **rellenar** los valores faltantes con una aproximación. Esto es conocido como **imputación de datos**.

#### **fillna()**

Rellena los valores nulos con un valor específico.

In [30]:
df_copy = df.copy()

# Rellenar los valores faltantes con un valor constante
df_rellenado = df.fillna(0)

# Rellenar los valores faltantes con el valor anterior (forward fill)
df_forward_fill = df.fillna(method='ffill')

# Rellenar los valores faltantes con el valor siguiente (backward fill)
df_backward_fill = df.fillna(method='bfill')

# Rellenar los valores faltantes con la media de una columna
df['Edad'] = df['Edad'].fillna(df['Edad'].mean())

print('DF original')
print(df_copy)
print('Rellenar los valores faltantes con un valor constante')
print(df_rellenado)
print('Rellenar los valores faltantes con el valor anterior (forward fill)')
print(df_forward_fill)
print('Rellenar los valores faltantes con el valor siguiente (backward fill)')
print(df_backward_fill)
print('Rellenar los valores faltantes con la media de una columna')
print(df)

DF original
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis   NaN  Barcelona
2    NaN  36.0   Valencia
3    NaN   NaN   Pitalito
Rellenar los valores faltantes con un valor constante
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis   0.0  Barcelona
2      0  36.0   Valencia
3      0   0.0   Pitalito
Rellenar los valores faltantes con el valor anterior (forward fill)
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis  23.0  Barcelona
2   Luis  36.0   Valencia
3   Luis  36.0   Pitalito
Rellenar los valores faltantes con el valor siguiente (backward fill)
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis  36.0  Barcelona
2    NaN  36.0   Valencia
3    NaN   NaN   Pitalito
Rellenar los valores faltantes con la media de una columna
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis  29.5  Barcelona
2    NaN  36.0   Valencia
3    NaN  29.5   Pitalito

C:\Users\seboc\AppData\Local\Temp\ipykernel_28588\2366745296.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_forward_fill = df.fillna(method='ffill')
C:\Users\seboc\AppData\Local\Temp\ipykernel_28588\2366745296.py:10: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_backward_fill = df.fillna(method='bfill')

### 4. **Reemplazar Datos Faltantes con Métodos Estadísticos**

A veces es más efectivo reemplazar los valores faltantes con la **media, mediana o moda** de una columna, especialmente cuando trabajas con variables numéricas.

#### **Imputación con Media, Mediana o Moda**

In [33]:
data = {'Nombre': ['Ana', 'Luis', np.nan, np.nan],
       'Edad': [23, np.nan, 36, np.nan],
      'Ciudad': ['Madrid', 'Barcelona', 'Valencia','Pitalito']}

df = pd.DataFrame(data)

df_median = df.copy()
df_mode = df.copy()
df_mean = df.copy()

# Rellenar los valores faltantes con la media de una columna
df_mean['Edad'] = df['Edad'].fillna(df['Edad'].mean())

# Rellenar los valores faltantes con la mediana de una columna
df_median['Edad'] = df['Edad'].fillna(df['Edad'].median())

# Rellenar los valores faltantes con la moda de una columna
df_mode['Edad'] = df['Edad'].fillna(df['Edad'].mode()[0])

print(df)
print(df_mean)
print(df_median)
print(df_mode)

  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis   NaN  Barcelona
2    NaN  36.0   Valencia
3    NaN   NaN   Pitalito
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis  29.5  Barcelona
2    NaN  36.0   Valencia
3    NaN  29.5   Pitalito
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis  29.5  Barcelona
2    NaN  36.0   Valencia
3    NaN  29.5   Pitalito
  Nombre  Edad     Ciudad
0    Ana  23.0     Madrid
1   Luis  23.0  Barcelona
2    NaN  36.0   Valencia
3    NaN  23.0   Pitalito

### 7. **Modificar el DataFrame con Datos Faltantes**

Algunas veces es útil modificar el DataFrame original para cambiar cómo Pandas maneja los datos faltantes.

#### **replace()**

Te permite reemplazar valores específicos (incluidos los NaN).



\# Reemplazar valores NaN con un valor específico

df\_reemplazado = df.replace(np.nan, 'Desconocido')

## Eliminando las columnas que contienen un valor nulo

In [10]:
no_missing_columns = retail_data.dropna(axis=1)
print("Datos sin columnas con valores faltantes: \n",no_missing_columns)

Datos sin columnas con valores faltantes:
        InvoiceNo StockCode  Quantity    InvoiceDate  UnitPrice         Country
0         536365    85123A         6   12/1/10 8:26       2.55  United Kingdom
1         536365     71053         6   12/1/10 8:26       3.39  United Kingdom
2         536365    84406B         8   12/1/10 8:26       2.75  United Kingdom
3         536365    84029G         6   12/1/10 8:26       3.39  United Kingdom
4         536365    84029E         6   12/1/10 8:26       3.39  United Kingdom
...          ...       ...       ...            ...        ...             ...
541904    581587     22613        12  12/9/11 12:50       0.85          France
541905    581587     22899         6  12/9/11 12:50       2.10          France
541906    581587     23254         4  12/9/11 12:50       4.15          France
541907    581587     23255         4  12/9/11 12:50       4.15          France
541908    581587     22138         3  12/9/11 12:50       4.95          France

[541909 rows x 6 columns]

## Reemplezando los valores NaN por 0

In [11]:
reatil_data_filled_zeros = retail_data.fillna(0)
print("Datos llenados con ceros: \n",reatil_data_filled_zeros)

Datos llenados con ceros:
        InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

In [13]:
missing_data = reatil_data_filled_zeros.isna().sum()
print("Datos faltantes: \n",missing_data)

Datos faltantes:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [14]:
mean_unit_price = retail_data['UnitPrice'].mean()
retail_data_filled_mean = retail_data['UnitPrice'].fillna(mean_unit_price)
print("Datos llenados con la media: \n",retail_data_filled_mean)

Datos llenados con la media:
 0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64