In [1]:
import pandas as pd

In [2]:
path = r'C:\Users\seboc\OneDrive\Escritorio\PROJECTS\DATASCIENCE\CursoPythonDataScience\Online_Retail.csv'
df_retail_data = pd.read_csv(path,encoding='windows-1252')
print(type(df_retail_data))
print(df_retail_data.head())

<class 'pandas.core.frame.DataFrame'>
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [3]:
df_retail_data['TotalPrice'] = df_retail_data['Quantity'] * df_retail_data['UnitPrice']
print(df_retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice
0  12/1/10 8:26       2.55     17850.0  United Kingdom       15.30
1  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
2  12/1/10 8:26       2.75     17850.0  United Kingdom       22.00
3  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34
4  12/1/10 8:26       3.39     17850.0  United Kingdom       20.34

In [6]:
df_retail_data['HighValue'] = df_retail_data['TotalPrice'] > 20  # AÃ±adimos una columna con un booleano
print(df_retail_data['HighValue'].head())

0    False
1     True
2     True
3     True
4     True
Name: HighValue, dtype: bool

In [7]:
df_retail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
 8   TotalPrice   541909 non-null  float64
 9   HighValue    541909 non-null  bool
dtypes: bool(1), float64(3), int64(1), object(5)
memory usage: 37.7+ MB

In [8]:
df_retail_data['InvoiceDate'].head()

0    12/1/10 8:26
1    12/1/10 8:26
2    12/1/10 8:26
3    12/1/10 8:26
4    12/1/10 8:26
Name: InvoiceDate, dtype: object

In [9]:
df_retail_data['InvoiceDate'] = pd.to_datetime(df_retail_data['InvoiceDate'])
print(df_retail_data['InvoiceDate'].head())

C:\Users\seboc\AppData\Local\Temp\ipykernel_1536\3437935664.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_retail_data['InvoiceDate'] = pd.to_datetime(df_retail_data['InvoiceDate'])

0   2010-12-01 08:26:00
1   2010-12-01 08:26:00
2   2010-12-01 08:26:00
3   2010-12-01 08:26:00
4   2010-12-01 08:26:00
Name: InvoiceDate, dtype: datetime64[ns]

### Aplicando Lambda

In [10]:
df_retail_data['DiscountedPrice']= df_retail_data['UnitPrice'].apply(lambda x: x*0.9 if x>10 else x)
print(df_retail_data.head(3))

  InvoiceNo StockCode                         Description  Quantity  \
0    536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                 WHITE METAL LANTERN         6
2    536365    84406B      CREAM CUPID HEARTS COAT HANGER         8

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00

   HighValue  DiscountedPrice
0      False             2.55
1       True             3.39
2       True             2.75

In [12]:
def categorize_price(price):
    if price < 5:
        return 'Low'
    elif price < 10:
        return 'Mid'
    else:
        return 'High'

df_retail_data['CategorizedPrice']=df_retail_data['UnitPrice'].apply(categorize_price)
print(df_retail_data.head(10))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

          InvoiceDate  UnitPrice  CustomerID         Country  TotalPrice  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom       20.34
5 2010-12-01 08:26:00       7.65     17850.0  United Kingdom       15.30
6 2010-12-01 08:26:00       4.25     17850.0  United Kingdom       25.50
7 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
8 2010-12-01 08:28:00       1.85     17850.0  United Kingdom       11.10
9 2010-12-01 08:34:00       1.69     13047.0  United Kingdom       54.08

   HighValue  DiscountedPrice CategorizedPrice
0      False             2.55              Low
1       True             3.39              Low
2       True             2.75              Low
3       True             3.39              Low
4       True             3.39              Low
5      False             7.65              Mid
6       True             4.25              Low
7      False             1.85              Low
8      False             1.85              Low
9       True             1.69              Low