In [1]:
import pandas as pd

In [18]:
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C', 'D'],
    'vale': [1, 2, 3, 4]
})

df2 = pd.DataFrame({
    'key': ['B', 'D', 'D', 'E'],
    'vale': [5, 6, 7, 8]
})

print(df1)
print(df2)

  key  vale
0   A     1
1   B     2
2   C     3
3   D     4
  key  vale
0   B     5
1   D     6
2   D     7
3   E     8

## Merge

In [19]:
inner_join = pd.merge(df1, df2, on='key', how='inner')
print(inner_join)

  key  vale_x  vale_y
0   B       2       5
1   D       4       6
2   D       4       7

In [5]:
outer_join = pd.merge(df1, df2, on='key', how='outer')
print(outer_join)

  key  vale1  vale2
0   A    1.0    NaN
1   B    2.0    5.0
2   C    3.0    NaN
3   D    4.0    6.0
4   D    4.0    7.0
5   E    NaN    8.0

In [6]:
left_join = pd.merge(df1, df2, on='key', how='left')
print(left_join)

  key  vale1  vale2
0   A      1    NaN
1   B      2    5.0
2   C      3    NaN
3   D      4    6.0
4   D      4    7.0

In [7]:
right_join = pd.merge(df1, df2, on='key', how='right')
print(right_join)

  key  vale1  vale2
0   B    2.0      5
1   D    4.0      6
2   D    4.0      7
3   E    NaN      8

## Concatenacion de dfs

In [12]:
df3 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
})

df4 = pd.DataFrame({
    'A': ['A3', 'A4', 'A5'],
    'B': ['B3', 'B4', 'B5']
})

print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [13]:
vertical_concat = pd.concat([df3, df4], axis=0)
print(vertical_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [14]:
horizontal_concat = pd.concat([df3, df4], axis=1)
print(horizontal_concat)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

## Join

In [15]:
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
},index=['K0', 'K1', 'K2'])

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2']
},index=['K0', 'K2', 'K3'])

print(df5)
print(df6)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C1  D1
K3  C2  D2

In [17]:
joined = df5.join(df6, how='inner')
print(joined)

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1