 %% [markdown]
 # Pandas `merge` Function: Theory and Practice

 The `merge` function in pandas is used to combine two DataFrames based on a common column or index.
 It is similar to SQL `JOIN` operations and is essential when working with relational data.

 ## Syntax
 ```python
 pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None, 
          left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), 
          copy=True, indicator=False, validate=None)
 ```

 ## Parameters
 - **`left`**: First DataFrame.
 - **`right`**: Second DataFrame.
 - **`how`**: Type of join (default is `'inner'`). Options:
   - `'inner'`: Only matching keys in both DataFrames (intersection).
   - `'outer'`: All keys from both DataFrames (union), filling missing values with NaN.
   - `'left'`: All keys from `left` DataFrame and matching keys from `right`, filling missing values with NaN.
   - `'right'`: All keys from `right` DataFrame and matching keys from `left`, filling missing values with NaN.
   - `'cross'`: Cartesian product of both DataFrames (each row of `left` combines with each row of `right`).
 - **`on`**: Column(s) to merge on. If not specified, pandas tries to merge on common column names.
 - **`left_on` / `right_on`**: Explicitly specify column names to merge on from `left` and `right` DataFrames.
 - **`left_index` / `right_index`**: Merge on index instead of columns.
 - **`sort`**: If `True`, sorts the result by the join key.
 - **`suffixes`**: Suffixes to append to overlapping column names from `left` and `right` (`_x` and `_y` by default).
 - **`indicator`**: If `True`, adds a column `_merge` to indicate the source of each row (`left_only`, `right_only`, or `both`).
 - **`validate`**: Ensures expected merge behavior, e.g., `'one_to_one'`, `'one_to_many'`, `'many_to_one'`.

In [1]:
import pandas as pd

In [5]:
left_df = pd.DataFrame({'id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
right_df = pd.DataFrame({'id': [2, 3, 4], 'score': [85, 90, 95]})

In [7]:
left_df

   id     name
0   1    Alice
1   2      Bob
2   3  Charlie

In [8]:
right_df

   id  score
0   2     85
1   3     90
2   4     95

### 1. Inner Join (Default)

In [6]:
merged_df = pd.merge(left_df, right_df, on='id')
merged_df

   id     name  score
0   2      Bob     85
1   3  Charlie     90

### 2. Left Join

In [3]:
merged_df_left = pd.merge(left_df, right_df, on='id', how='left')
merged_df_left

   id     name  score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0

### 3. Right Join

In [4]:
merged_df_right = pd.merge(left_df, right_df, on='id', how='right')
merged_df_right

   id     name  score
0   2      Bob     85
1   3  Charlie     90
2   4      NaN     95

### 4. Outer Join

In [9]:
merged_df_outer = pd.merge(left_df, right_df, on='id', how='outer')
merged_df_outer

   id     name  score
0   1    Alice    NaN
1   2      Bob   85.0
2   3  Charlie   90.0
3   4      NaN   95.0

### 5. Merge Using Different Column Names

In [10]:
left_df = pd.DataFrame({'key1': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
right_df = pd.DataFrame({'key2': [2, 3, 4], 'score': [85, 90, 95]})
merged_df_diff_cols = pd.merge(left_df, right_df, left_on='key1', right_on='key2', how='inner')
merged_df_diff_cols

   key1     name  key2  score
0     2      Bob     2     85
1     3  Charlie     3     90

 ### 6. Merge on Index

In [11]:
left_df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie']}, index=[1, 2, 3])
right_df = pd.DataFrame({'score': [85, 90, 95]}, index=[2, 3, 4])
merged_df_index = pd.merge(left_df, right_df, left_index=True, right_index=True, how='inner')
merged_df_index

      name  score
2      Bob     85
3  Charlie     90

### 7. Using `indicator` to Show Merge Origin

In [12]:
merged_df_indicator = pd.merge(left_df, right_df, left_index=True, right_index=True, how='outer', indicator=True)
merged_df_indicator

      name  score      _merge
1    Alice    NaN   left_only
2      Bob   85.0        both
3  Charlie   90.0        both
4      NaN   95.0  right_only