# Understanding `melt` in Pandas

## Introduction

The `melt` function in pandas is used to transform a DataFrame from a wide format to a long format. This is particularly useful when dealing with data visualization and analysis.

### Why Use `melt`?
- It makes the data more suitable for plotting and analysis.
- It helps restructure data in a way that is easy to work with.
- It is particularly useful in scenarios where columns represent different categories of the same variable.

Let's dive into the theory and usage of `melt` in pandas.

## Theory Behind `melt`

### Syntax:
```python
pandas.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=True)
```

### Parameters:
- `frame`: The DataFrame that needs to be reshaped.
- `id_vars`: Columns that should remain unchanged (identifier variables).
- `value_vars`: Columns to be unpivoted (default is all columns except `id_vars`).
- `var_name`: Name for the new column that stores the column names from the `value_vars`.
- `value_name`: Name for the new column that stores the values from the `value_vars`.
- `col_level`: If the columns are multi-index, this specifies which level to melt.
- `ignore_index`: Whether to reset the index or not.

### How It Works:
- It converts wide-format data (columns representing different categories) into long-format data (one column for category names, another for values).
- It is commonly used in data preprocessing before visualization or analysis.

## Practical Examples

Let's apply the `melt` function to understand how it works.

In [1]:
import pandas as pd

# Creating a sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 90, 78],
    'Science': [88, 92, 80]
})

print("Original DataFrame:")
print(df)

# Applying melt function
df_melted = pd.melt(df, id_vars=['Name'], var_name='Subject', value_name='Score')

print("Melted DataFrame:")
print(df_melted)

Original DataFrame:
      Name  Math  Science
0    Alice    85       88
1      Bob    90       92
2  Charlie    78       80
Melted DataFrame:
      Name  Subject  Score
0    Alice     Math     85
1      Bob     Math     90
2  Charlie     Math     78
3    Alice  Science     88
4      Bob  Science     92
5  Charlie  Science     80

### Explanation:
- We created a DataFrame with three students and their scores in two subjects: Math and Science.
- We used `melt` to transform the table so that instead of separate columns for Math and Science, we have a single column indicating the subject and another column for the score.
- `id_vars=['Name']` ensures that the "Name" column remains unchanged.
- `var_name='Subject'` renames the previous column headers (Math and Science) into a single column.
- `value_name='Score'` renames the column that contains the numerical values.

In [2]:
# Selecting specific columns to melt
df_melted_specific = pd.melt(df, id_vars=['Name'], value_vars=['Math'], var_name='Subject', value_name='Score')

print("Melted DataFrame with only Math column:")
print(df_melted_specific)

Melted DataFrame with only Math column:
      Name Subject  Score
0    Alice    Math     85
1      Bob    Math     90
2  Charlie    Math     78

## Exercises

Now it's your turn! Try solving these exercises to strengthen your understanding of `melt`.

### Exercise 1:
Create a DataFrame representing monthly sales for three products over three months (January, February, March). Convert this wide-format table into a long-format table using `melt`.

### Exercise 2:
Using the same sales DataFrame, apply `melt` but only unpivot the February and March columns, keeping January untouched.

### Exercise 3:
Experiment with the `var_name` and `value_name` parameters to customize the column names in your melted DataFrame.

Try writing your solutions below!